body {  
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

div {
    display: flex;
    align-items: center;
    background: #eee;
    font-family: sans-serif;
}
        