body {
    font-family: sans-serif;
    font-size: 16px;
    background: #F8FAFE;
    margin: 0;
}

.container {
    max-width: 1500px;
    margin: auto;
    padding: 0px 50px;
}

.header {
    position: fixed;
    z-index: 1;
    max-width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F8FAFE;
}

.apples {
    display: flex;
    align-items: center;
}

.apple {
    box-sizing: content;
    margin: left;
    width: 30px;
}

.container-basket {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.block-basket {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.your-select {
    width: 40px;
    height: 40px;
    padding-right: 10px;
}

.your-basket {
    width: 40px;
    height: 40px;
    padding-right: 10px;
}

.your {
    position: absolute;
    background-color:#F36223;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    padding: 3px 8px;
    top: 0;
    right: 5px;
}

.score {
    color: #FF5722;
}

.track {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #008CF0;
    cursor: pointer;
    padding: 8px;
    margin-top: 95px;
}

.product-name {
    margin: 1px 0px 30px 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}    

.viewing {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.view-picture {
    height: 400px;
}

.view-picture img {
    max-width: 100%;
    height: 100%;
}

.specification {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0px;
    gap: 100px;
}

.titles {
    margin-top: 30px;
    margin-bottom: 15px;
}

.color-range {
    display: flex;
    gap: 10px;
}

.choice-colors {
    border: 1px solid #888888;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    height: 80px;
    width: 80px;
}

.choice-colors:hover {
    background: #F2F2F2;
    border: 1px solid #888888;
}

.choice-colors-focus {
    border: 1px solid #F36223;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0px;
    max-height: 100%;
    max-width: 100%;
}

.choice-colors:active {
    border: 2px solid #A93A09;
    border-radius: 4px;
}

.colors {
    display: block;
    width: 30px;
    height: 60px; 
    padding: 10px 25px;
    margin: 0px;
    background-color: transparent;
}

.memory-buttons {
    display: flex;
    gap: 10px;
}

.memory-selected {
    border: 1px solid #F36223;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    padding: 10px 17px;
    cursor: pointer;
    width: 100%;
    max-width: 92px;
}

.memory:hover {
    background: #F2F2F2;
    border: 1px solid #888888;
}

.memory:active {
    border: 2px solid #A93A09;
    border-radius: 4px;
    padding: 9px 10px;
}

.memory {
    border: 1px solid #888888;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    max-width: 92px;

}

.product-description {
    list-style-position: inside;
    padding: 0;
}

.list {
    padding: 0px 0px;
    margin: 0px;
}

.list-item {
   list-style-type: #888888;
}

.text {
    margin-top: 15px;
    margin-bottom: 10px;
}

.model {
    border: 1px solid #888888;
    border-collapse: collapse;
}

.model__b-top {
    border-top: 1px solid #888888;
}

.model__b-right {
    border-right: 1px solid #888888;
}

.model__indent {
    padding: 10px;
}

tr:hover {
    background: #F2F2F2;
    cursor: pointer;
}

.important {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px #F0F0F0;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    width: 100%;
    gap: 15px;
    margin-top: 30px;
}

.price {
    display: flex;
    justify-content: space-between;
}

.discount {
    display: flex;
    
    align-items: center;
    margin: 0px;
}

.old-price {
    color: #888888;
    padding-right: 20px;
    font-weight: 500;
    font-size: 16px;
    text-decoration-line: line-through;
}

.discount-percentage {
    background-color: #F36223;
    border: #F36223;
    border-radius: 50px;
    color: #ffffff;
    padding: 4px 8px;
}

svg {
    fill: #888888;
    cursor: pointer;
}

svg:hover {
    fill: #F36223;
}

svg:active {
    fill: #A93A09;
}

.new-price {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    margin: 0;
    padding-top: 10px;
}

.delivery {
    padding-bottom: 20px;
}

.add {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F36223;
    border: #F36223;
    border-radius: 4px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 30px;
    width: 100%;
    gap: 15px;
    cursor: pointer;
}

.add::before {
    content: url("../icon/basket.svg");
}

.add:hover {
    background: #DA4A0C;
    border-radius: 4px;
}

.add:active {
    background: #A93A09;
    border-radius: 4px;
}

.advertising {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
}

.frame {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 280px;
    padding: 10px;
    background: #F0F0F0;
    border: 1px dashed #888888;
}

.review-section {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 60px;
    gap: 25px;
    width: 880px;
}

.review-title {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.text-title {
    display: flex;
    gap: 10px;
}

.review {
    color:#000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.review-visitors {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #888888;
}

.review-block {
    display: flex;
    flex-direction: row;
    width: 710px;
    gap: 30px;
}

.review-image {
    width: 140px;
}

.review-text {
    margin-bottom: 16px;
}
 
.grade {
    width: 30px;
}

.separator {
    box-sizing: border-box;
    border: 1px dashed #888888;
    margin-left: 170px;
    width: 710px;
}

.link {
    color: #008CF0;
    text-decoration: none;
}

.link:hover {
    color:  #F36223;;
    text-decoration: none;
}

.link:active {
    color: #A93A09;
}

.form-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 0px 0px 170px;
    width: 880px;
}

.fieldset {
    border: transparent;
    padding: 0px;
    margin: 0px;
    width: 710px;
    font-family: sans-serif;
}

.review-info {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}

.form-user {
    position: relative;
    width: 495px;
    border: 1px solid #888888;
    padding: 15px 20px;
    background: transparent;
}

.form-user-fault {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 8px 20px;
    gap: 10px;
    width: 495px;
    height: 14px;
    font-size: 12px;
    color: #FFFFFF;
    background: #DA4A0C;
}

.form-rating {
    position: relative;
    width: 175px;
    border: 1px solid #888888;
    padding: 15px 20px;
    background: transparent;
}

.form-rating-fault {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 8px 20px;
    gap: 10px;
    width: 175px;
    height: 14px;
    font-size: 12px;
    color: #FFFFFF;
    background: #DA4A0C;
}

.user {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    margin-bottom: 100px;
}

.form-text {
    font-family: sans-serif;
    height: 190px;
    border: 1px solid #888888;
    resize: none;
    padding: 15px 20px;
    background: transparent;
    font-family: sans-serif;
}

.form-button {
    width: 177px;
    height: 39px;
    background: #F36223;
    border-radius: 4px; 
    border: #F36223;
    color: #FFFFFF;
    cursor: pointer;
}

.form-button:active {
    background: #A93A09;
    border-radius: 4px;
}

.form-button:hover {
    background: #DA4A0C;
    border-radius: 4px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer {
    padding: 30px;
    background: #F2F2F2;
}

.container_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.footer-info__text {
    list-style-type: none;
}

@media (min-width: 1024px) and (max-width: 1499px) {
.container {
    padding: 0px 15px;
}
.label{
    width: 1024px;
}
.specification {
    width: 994px;
    gap: 40px;
}
.characteristics {
    width: 100%;
}
.view-picture {
    height: 270px;
}
.advertising {
    gap: 10px;
}
.review-image {
    width: 100px;
}
.grade {
    width: 20px;
}
.models {
    display: none;
}
.form-block {
    padding: 0px;
}
.separator {
    margin-left: 130px;
}
}

@media (min-width: 360px) and (max-width: 480px) {
.container {
    padding: 0 10px;
}    
.viewing {
    overflow-x: scroll;
}
.important {
    display: none;
}
.specification{
    flex-direction: column-reverse;
}
.review-block {
    flex-direction: column;
}
}